# VERİ DÖNÜŞÜMLERİ

# a-) Tamsayıyı Ondalıklı sayıya çevirme 

Bir tamsayı değeri(integer) ondalıklı sayıya(float) çevirmek için float() fonksiyonunu kullanabiliriz.Örneklere bakalım.

In [6]:
#ondalıklı sayılarda float kullanılır
a= 43
float(a)

43.0

In [7]:
#ondalıklı sayıları . ile yazılır 
float(13.51)

13.51

# Ondalıklı sayıyı tamsayıya çevirme

Bir ondalıklı sayıyı tamsayıya çevirmek için int() fonksiyonunu kullanabiliriz.Sonuç, ondalıklı sayının tam kısmı olarak karşımıza çıkacak.Örneklere bakalım.

In [10]:
#tam sayılarda 'int' kullanılır
int(13.51)

13

# Sayıları stringlere çevirme

Bir sayıyı string'e çevirmek için str() fonksiyonunu kullanabiliriz.Sayıyı oluşturan tüm rakamlar veya noktalar birer karaktere dönüşecek.

In [11]:
#bir sayıyı string e çevirmek için 'str' fonksiyonu kullanılır

In [12]:
str(1744)

'1744'

In [13]:
a = str(1744.2021)
len(a)

9

In [14]:
a =str(1744.2021)
a

'1744.2021'

# Stringleri Tam Ve Ondalıklı sayıya çevirme 

Bir string'i bir tamsayıya çevirmek istediğimiz zaman int() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda fayda var. Dönüştürme işlemini yaparken stringin herbir karakterinin bir rakam olduğundan emin olmalıyız. Örneklere bakalım.

In [3]:
a= '35454'
a = int(a)
a

35454

In [4]:
# bu işlemlerde ondalıklıysa float tamsayı ise int kullanılır ondalıklı olan bir sayının tamsayılısını alınamıyor 
a = '35454.1853'
b = int(a)
b

ValueError: invalid literal for int() with base 10: '35454.1853'

Bir string'i bir ondalıklı sayıya çevirmek istediğimiz zaman float() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda fayda var. Dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız. Örneklere bakalım.

In [5]:
a = '35454.1853'
b = float(a)
b

35454.1853